
  <h3><%= @topic.title %></h3>
  <h1><%= @topic.criteria %></h1>

  <%= button_to "Join", topic_user_topics_url(@topic), method: :post %>
  <h3>Attendees</h3>

  <ul>
    <% @attendees.each do |attendee| %>
    <li><%= attendee.email %> </li>
    <% end %>
  </ul>
