<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My page</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="jumbo-header ">
          <h1>DECIDE</h1>
          <h3>Make Collaborative Decisions</h3>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <footer>
      <h5> by </h5><a class="linkedin" href="https://www.linkedin.com/in/michaeljennings824/">Michael Jennings</a>
    </footer>
  </body>
</html>
