@import url('https://fonts.googleapis.com/css?family=Orbitron');


.TopicIndexComponent {
  padding: 15px;
  font-family: 'Orbitron';
  align-items: center;
  border-radius: 10px;
  border: solid 2px black;
  color: black;
  margin: 25px;
  a:hover{
    color: darkblue;
    text-decoration: none;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}


.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
